apiVersion: apps/v1
kind: Deployment
metadata:
  name: dice-game-deployment
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: dice-game
  template:
    metadata:
      labels:
        app: dice-game
    spec:
      # Use the default UID for nginx-unprivileged (101)
      securityContext:
        runAsUser: 101
        fsGroup: 101
      containers:
      - name: dice-game
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        ports:
        - containerPort: 8080
        readinessProbe:
          httpGet:
            path: /      
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /      
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 20
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"
          envFrom:
          - configMapRef:
              name: dice-game-config
        env:
          - name: API_KEY
            valueFrom:
              secretKeyRef:
                name: mysecret
                key: API_KEY

